{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/display_beds_view/display_beds.css'%}">


<div class="mobile-header">
    <span class="back-button" onclick="history.back()">
        <img src="{% static 'images/displaybeds/free-back-arrow-bed.png' %}" alt="Back" class="back-arrow-image">
    </span>
    <span class="title">Display Beds</span>
</div>

<div class="dispaly-beds-conatiner">
    <div class="container-bed">
        {% if beds %}
        <ul class="bed-list">
            {% for bed in beds %}
            <li class="tenant-item {% if bed.name %} occupied-bed {% endif %}">
                <a href="{% url 'TenantDetails' property_id=selected_property.id room_number=room.room_number tenant_id=bed.id %}" style="text-decoration: none; display: flex; width: 100%;">
                    <div class="tenant-image-class">
                        {% if bed.tenant_image %}
                            <img src="{{ bed.tenant_image }}" alt="Tenant Image" class="tenant-image">
                        {% else %}
                            <img src="{% static 'images/displaybeds/image-icon-placeholder.png' %}" alt="Placeholder Image" class="tenant-image">
                        {% endif %}
                        <strong class="tenant-name">{{ bed.name }}</strong>
                    </div>
                    <div class="tenant-info">
                        <div class="tenant-details">
                            <div class="tenant-detail-box">
                                <div class="tenant-detail-title">JOINING DATE:</div>
                                <div class="tenant-detail-content">{{ bed.joining_date|date:"F j, Y" }}</div>
                            </div>
                            <div class="tenant-detail-box">
                                <div class="tenant-detail-title">DUE DATE:</div>
                                <div class="tenant-detail-content">
                                    {% if bed.next_due_date %}
                                        {{ bed.next_due_date|date:"F j, Y" }}
                                    {% else %}
                                        No upcoming due date.
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="bottemRow">
                    <div class="tenantName">{{ bed.name }}</div>
                </div>
            </li>
        {% endfor %}
        
        </ul>
        {% else %}
        <img src="{% static 'images/displaybeds/feel_bed.png' %}" alt="No Tenants" class="no-tenants-image"> <!-- Replace with your actual image path -->
        {% endif %}

        <strong>Number of Tenants:</strong> {{ beds|length }}<br>
        <strong>Total Beds:</strong> {{ room.number_of_share }}<br>
        <strong>Remaining Free Beds:</strong> {{ remaining_beds }}
    </div>
</div>

<button id="add-tenant-button" class="add-tenant-button">
    <img src="{% static 'images/displaybeds/add-file.png' %}" alt="Room is Full">
    <span>Add Tenant</span>
</button>

{% include 'data/add_tenants_modal.html' %}

<script>
  $(document).ready(function() {
    // Show the modal when "Add Tenant" button is clicked
    $('#add-tenant-button').on('click', function() {
        $('#addTenantModal').css('display', 'block');
    });

    // Close the modal when the close button is clicked
    $('.close').on('click', function() {
        $('#addTenantModal').css('display', 'none');
    });

    // Close the modal when clicking outside the modal
    $(window).on('click', function(event) {
        if (event.target.id === 'addTenantModal') {
            $('#addTenantModal').css('display', 'none');
        }
    });
});

</script>

<script>
    // Replace the current state when the DisplayRooms page is loaded
  window.history.replaceState(null, '', window.location.href);
  
  </script>

{% endblock %}
